<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="appregistration_form">
          <%= render 'shared/appregistration_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3 class="main-topic">Registered Apps</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center jumbotron">
      <h1>Welcome to Registration App</h1>
      <div id="home-page-text">
        <h2>To be able to use our API in your development you first have to create an account.
          After doing so you can register your application(s) on your profile page in order to get
          an API-key.</h2>
      </div>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>